<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exito en el Formulario</title>
</head>
<body>
    <h1>¡Gracias por ingresar tu información {{session['user_name']}} !</h1>
    <h2>
        {% if session['tipo_usuario'] == 'VIP': %}
            WUUUUU eres VIP
        {% else %}
            bienvenido :(
        {% endif %}
    </h2>
</body>
</html>